
.technologies-section{
    padding-bottom: 10rem; 
}

.technologies-section h1{
    padding: 2rem 0; 
}

.tech-img{
    width: 12rem;
    height: 10rem;
}

#tech-row-1{
    width: 70%;
    height: 30%;
}

#tech-row-2{
    width: 50%;
    height: 30%;
}

.carousel-image{
    width: 150px;
    height: 150px;
}